.switch {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 20px;

    input[type="checkbox"] {
        opacity: 0;
        width: 0;
        height: 0;
        display: none;
    }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: #F7DC6F;
        transition: 0.4s;
        border-radius: 20px;
    }

    .slider::before {
        position: absolute;
        content: "";
        height: 14px;
        width: 15px;
        left: 4px;
        bottom: 3px;
        background-color: white;
        transition: 0.4s;
        border-radius: 255px;
    }

    input[type="checkbox"]:checked + .slider {
        background: #2196f3;
    }

    input[type="checkbox"]:focus + .slider {
        box-shadow: 0 0 1px #2196f3;
    }

    input[type="checkbox"]:checked + .slider:before {
        -webkit-transform: translateX(21px);
        -ms-transform: translateX(21px);
        transform: translateX(21px);
    }

    .slider .round {
        border-radius: 34px;
    }

    .slider .round::before {
        border-radius: 50%;
    }
}
