@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

:root {
    [data-theme= "light" ] {
        transition: all 0.3s ease;

        //principal-colors
        --bg-Color: #ffffff;
        --bg-secondary-color: #f1f3f3;
        --bg-tertiary-color: #e8e8e8;
        --text-color: #0e0e0e;
        --overlay-color: rgba(0, 0, 0, 0.1);
        --line-color: rgba(0, 0, 0, 0.4);
        --button-reverse: #000;
        --tag-color : rgb(0, 90, 199);
        --shadow-color : rgba(60, 60, 60);
        //editor-colors
        
    }
    
    [data-theme="dark"] {
        // principal colors
        transition: all -1.3s ease;
        --bg-Color: #0e0f11;
        --bg-secondary-color: #1b1819;
        --bg-tertiary-color: #211f20;
        --text-color: #f4efef;
        --overlay-color: rgba(0, 0, 0, 0.9);
        --line-color: #636363;
        --button-reverse: #fff;
        --tag-color: #1db727;
        --shadow-color : rgb(42, 42, 42);
    }   
    //fonts
    --secondary-color: #ea2845;

    --primary-font : 'jetbrains mono';
    // --primary-font : 'montserrat';

    //general colors
    --button-color : #ea2845;
}
