@use "./src/styles/mixins.scss" as *;

.headBanner {
    background: var(--bg-Color);
    padding: 20px 15px  10px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include screen(mobile) {
        padding: 50px 100px;
        flex-direction: row;
    }

    @include screen(large) {
        padding: 60px 150px;
    }
}

.banner {
    width: max-content;
    padding: 30px 0 10px 0;
    font-family: var(--primary-font);
    color: var(--text-color);

    &__title {
        width: 250px;
        margin: 0 0;
        font-size: 45px;

        @include screen(small) {
            font-size: 55px;
        }

        @include screen(large) {
            font-size: 70px;
            width: 300px;
        }
    }

    &__subtitle {
        display: block;
        width: max-content;
    }

    &__desc {
        max-width: 300px;
        line-height: 22px;
        font-size: 15px;
        margin: 20px 0;

        @include screen(small) {
            max-width: 440px;
            font-size: 18px;
            line-height: 28px;
            margin: 40px 0;
        }

        @include screen(med) {
            max-width: 550px;
        }
    }

    &__buttons {
        display: flex;
        flex-direction: column;
        gap: 5px 10px;

        button[type="button"] {
            width: 250px;
            color: #FFF;
            @extend %buttonBlock;
        }

        button:nth-child(2) {
            background: none;
            color : var(--button-reverse);
            border: solid 2px var(--button-reverse);
        }

        @include screen(small) {
            flex-direction: row;
        }
    }
    @include screen(med-small) {
        width: 50%;
    }

    @include screen(mobile){
        width: 100%;
    }
}

.bannerImage {
    display: none;
    width: 50%;
}
